<h1 id="booking" class="text-center">Payment</h1>
<h2 class="text-center" id="booking-h2" style="margin-bottom: 40px;">Your customer details</h2>
<div class="container">
  <div class="row col-xs-12 col-sm-6 col-sm-offset-3">
      <form>
        <div class="form-group">
          <label for="formGroupExampleInput">Card details</label>
          <input type="text" class="form-control input-lg" id="formGroupExampleInput" placeholder="4567-8904-9087">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">CCV</label>
          <input type="text" class="form-control input-lg" id="formGroupExampleInput2" placeholder="456">
        </div>
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">
          Confirm this booking
        </button>
      </form>
    </div>
    </div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-bottom:0;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">REVIEW YOUR BOOKING INFORMATION</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <ul>
        <li><strong>PRICE:</strong> <%=@booking_price%> $</li>
        <li><strong>DURATION:</strong> <%=@booking_duration %> hours
          <ul>
            <li>From: <%=@b_start %></li>
            <li> To: <%=@b_end %></li>
          </ul>
        </li>
        <li><strong>PICKUP PLACE:  </strong>
          <%= @machine.location %>
        </li>
        <li><strong>OWNER'S EMAIL: </strong> <%= @machine.user.email %>></li>
      </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= link_to my_machines_path do %>
          <button type="button" class="btn btn-primary">Confirm this booking</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
    <hr class="style-two" style="margin-top:30px;">
    <p class="text-center">...or pay with</p>

    <div class="flex text-center" style="margin-top: 30px;">
      <span><%= image_tag("stripe.png", width:"100")%></span>
      <span><%= image_tag("paypal.png", width:"100")%></span>
    </div>

<hr class="style-two">





