<div class="banner" style="background-image: linear-gradient(-120deg, rgba(63, 232, 171, 0.2), rgba(144, 124, 255, 0.2)), url('<%= image_path 'banner-tractor.png' %>');">
  <div class="title">
    <h1>Find the<p></p><mark id="type"></mark> <br>you need</h1>
    <p id="catchline">In the right place, at the right price</p>
    <%= form_tag(machines_path, :method => "get", id: "search-home") do %>
      <%= image_tag "search.svg", height: 22 %>
      <%= text_field_tag :search, params[:search], placeholder: "Tractor Lyon" %>
    <% end %>
  </div>
</div>
<div class="container-fluid background">
  <div class="row" style="position: relative;">
    <h2 class="text-center"><mark>Why use FARMY?</mark></h2>
    <!-- First row -->
    <div class="row flex-row flex-wrap ">
      <!-- info-box -->
      <div class="col-xs-12 col-sm-6 col-md-3 info-box text-center">
        <div class="info-box-image">
          <%= image_tag "logo.svg", height: 50, class: "icon" %>
        </div><!-- /.info-box-image -->
        <div class="textbox">
          <h4>A WIDE CHOICE OF EQUIPMENT NEARBY</h4>
          <p>WeFarmUp is a catalog of materials available around you, less than 30 km away.</p>
        </div>
      </div>
      <!-- Second row -->
      <div class="col-xs-12 col-sm-6 col-md-3 info-box text-center">
        <div class="info-box-image">
          <%= image_tag "time.svg", height: 50, class: "icon" %>
        </div><!-- /.info-box-image -->
        <div class="textbox">
          <h4>TIME SAVING AND REACTIVITY</h4>
          <p>In less than an hour, get the rented equipment back or get a network farmer involved.</p>
        </div>
      </div>
      <!-- Third row -->
      <div class="col-xs-12 col-sm-6 col-md-3 info-box text-center">
        <div class="info-box-image">
          <%= image_tag "insurance.svg", height: 50, class: "icon" %>
        </div><!-- /.info-box-image -->
        <div class="textbox">
          <h4>INSURANCE INCLUDED FOR RENTAL</h4>
          <p>All the equipment is <br>insured in ALL RISKS, <br>without additional step.</p>
        </div>
      </div>
      <!-- Fourth row -->
      <div class="col-xs-12 col-sm-6 col-md-3 info-box text-center">
        <div class="info-box-image">
          <%= image_tag "peace.svg", height: 50, class: "icon" %>
        </div><!-- /.info-box-image -->
        <div class="textbox">
          <h4>RENT <br>IN PEACE</h4>
          <p>The profiles of all farmers in the network are checked and evaluated after each rental.</p>
        </div>
      </div>
      <div class="clearfix visible-sm"></div>
    </div>
  </div>
</div>
<div class="headline text-center">
  <h2>To prefer <strong>leasing</strong> to debt is <br>to <strong>preserve</strong> your cash flow.</h2>
</div>
<div class="container home">
  <h2 class="text-center"><mark>Our lastest equipments</mark></h2>
  <% @machines.first(6).each do |machine| %>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <%= link_to machine_path(machine) do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= machine.photo %>');">
        <div class="card-category"><%= machine.category %></div>
        <div class="card-description">
          <h2><%= machine.make %></h2>
          <p><%= machine.location %></p>
        </div>
        <img class="card-user" src="https://avatars2.githubusercontent.com/u/39128210?s=460&v=4">
      </div>
      <% end %>
    </div>
  <% end %>
  <div class="home-btn text-center">
    <%= link_to 'See more', machines_path, class: "btn btn-primary btn-product"  %>
  </div>
</div>
