<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
      <h1>Edit Your <%=@machine.make %> </h1>
      <%= simple_form_for(@machine) do |f| %>
        <%= f.input :make %>
        <%= f.input :year %>
        <%= f.input :min_hours %>
        <%= f.input :category %>
        <%= f.input :location %>
        <%= f.input :price_per_hour %>
        <%= f.input :photo %>
        <%= f.button :submit, class: 'btn btn-primary btn-product', style: 'margin-bottom: 40px;' %>
      <% end %>
    </div>
  </div>
</div>
