<div class="container-fluid text-center">
<h1>My dashboard</h1>
<p><strong>See</strong> and <strong>manage</strong> your bookings as a user and owner</p>

<ul>
  <li><%= @current_user.name %></li>
  <li><%= @current_user.email %>
  </li>
</ul>


</div>

<div class="container dashboard">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="home" aria-selected="true">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="profile" aria-selected="false">Messages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#my-machines" role="tab" aria-controls="contact" aria-selected="false">My machines</a>
    </li>
  </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="profile-image avatar" style="background-image: url('<%= image_path('user.jpg')%>');"></div>
        <span id="name"><strong><%= @current_user.name%></strong></span>
        <p>My Farmy Dashboard</p>
        <p>Member since 22/11/2018</p>
        <p><%= @current_user.email %></p>
        <div class="earnings">
          <h4>My earnings of the month:</h4>
        </div>
      </div>
      <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="messages-tab">
        <div class="message">
          <img class="profile-image avatar" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
          <div class="message-name">
            <h3>Gab Dehan</h3>
            <p>10/07/17</p>
          </div>
          <div class="message-body">
            <p><strong>I am not sure yet!</strong></p>
            <p>
              I am not sure yet! I might be in Shanghai at this moment... Can I tell you later?
            </p>
          </div>
          <div class="message-status">
            <p class="status pending">Pending</p>
            <p class="price">€345</p>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="my-machines" role="tabpanel" aria-labelledby="my-machines-tab">
        <ul>
          <% @machine.each do |machine| %>
            <li><%= machine.category %></li>
            <li><%= machine.make %></li>
          <% end %>
          <li>Manage this machine</li>
        </ul>
      </div>
    </div>
  </div>
</div>

  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">.sl,slf,sdlf,sdflsflds,fsdlf..</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non illo facilis quidem dolorem dolorum! Adipisci, enim sint quaerat est quas iure itaque, obcaecati harum eum, tempore in incidunt sit quia.
  Nesciunt debitis quam beatae optio, ut perferendis dolor aliquam, maiores, laborum odit consectetur incidunt voluptates reprehenderit dolores ratione eveniet expedita. Magni eum voluptatum laborum facilis dicta quibusdam, sed quae vitae.
  Aliquid, dolore id error quos dolor aspernatur quo pariatur ullam officia iure. Libero possimus a culpa id. Eius quae exercitationem quos doloremque. Minus maxime tempora sed enim et consectetur aut.
  Veniam soluta, est rem minima possimus ipsam quod consequatur inventore ea, nesciunt nemo expedita. Reiciendis, voluptatibus ex repudiandae repellat eius eligendi eaque. Adipisci optio debitis commodi asperiores, velit delectus nesciunt!
  Voluptas velit optio id necessitatibus! Quos minus assumenda magni, id possimus eos, mollitia necessitatibus quasi provident fugit molestiae tempore atque incidunt. Ipsum consequuntur veritatis neque earum cumque fuga autem nesciunt!
  Nostrum, ullam delectus at asperiores reprehenderit molestiae! Perferendis laboriosam quo omnis iure natus fuga consequatur aperiam a ullam ratione optio officiis cupiditate accusamus quod quaerat, pariatur, unde vero earum nostrum?
  Recusandae ipsam inventore vel. Blanditiis velit, tempore aliquam eligendi deleniti aspernatur praesentium quaerat consequuntur dolores minus impedit nihil consequatur maxime dolore, quibusdam iusto nisi in similique repellat ullam. Labore, esse!
  Vitae nam sit accusantium corrupti reprehenderit deleniti perferendis recusandae ipsa ad consequatur? Quod eligendi, sunt excepturi voluptatibus dolor commodi ipsum facere voluptatem maxime corrupti iure tenetur a esse vel doloribus.
  Et rem, debitis, quasi nihil repudiandae corrupti adipisci in iure fugiat vitae est provident dolore, maiores delectus reprehenderit dicta cupiditate eos praesentium facilis. Doloribus, aliquam nobis veniam quibusdam quas quis.
  Sed dignissimos neque quaerat, debitis ducimus officia quos atque odio corporis enim voluptate repellat molestiae a nostrum. Porro, ex. Qui vero ea velit, a enim quibusdam praesentium blanditiis harum culpa.
  Eligendi ea, suscipit reiciendis, praesentium dolorem quisquam architecto voluptatibus facere magni labore aperiam quae vel, cupiditate nesciunt vero sequi maiores ab autem. Praesentium commodi aperiam doloribus mollitia earum est quibusdam?
  Id nihil accusantium libero iusto dolores facilis cum aspernatur, dignissimos praesentium illo cupiditate officia quia dolorem, ipsa hic optio voluptatem facere repellat amet fuga nam, mollitia quaerat totam. Odit, veritatis.
  Voluptatibus quis aperiam asperiores eius accusamus dolores expedita voluptatum exercitationem, odio quasi sunt magnam obcaecati quidem dicta deleniti eaque earum nobis voluptatem et vitae quisquam quibusdam enim fugit! Sunt, blanditiis.
  Sint quidem, at ullam quisquam est, beatae ratione repellat atque ipsum, maxime illum repellendus laudantium dicta nesciunt facere ipsa deserunt aliquam soluta. Adipisci natus voluptatum accusamus id. Fugiat, earum provident!
  Est iusto, dignissimos adipisci illum autem laborum suscipit rem unde eligendi, animi et facilis harum! Deleniti ducimus, rerum illo fugiat sint eligendi aliquam expedita in sequi velit, ut eos iste.
  Animi exercitationem architecto aliquam aperiam ipsa commodi, eligendi hic nulla maiores harum molestias, sequi accusamus impedit perferendis tempore quas cupiditate excepturi consequatur, possimus vel enim quisquam nobis voluptatem ipsum. Distinctio!
  Consequuntur eum a exercitationem distinctio similique delectus? Asperiores dolores quasi labore quam, voluptas, assumenda distinctio quisquam, vel optio quidem iste! Facilis sit corrupti facere id maiores nostrum dicta eligendi aliquid!
  Dolor nostrum alias iste. Nam voluptatum alias dignissimos blanditiis vel delectus magni quis labore dolorum! Doloribus delectus necessitatibus atque dolorem culpa ipsum repellendus natus minus itaque. Iure laboriosam iusto error!
  Soluta consequatur dolorem dolor amet et eveniet, non dolorum doloribus repellendus vel harum mollitia? Expedita voluptate aliquid, natus harum quisquam aut magni officia hic dicta cumque autem repellendus. Aliquam, omnis.
  Voluptates possimus, deserunt debitis consectetur dolorem quibusdam culpa voluptatibus non corporis quod sapiente at aliquam voluptas nulla aliquid amet ex totam minus delectus excepturi tempora iste nemo. Quibusdam, sunt rem!
  Aliquid asperiores rerum ut! Expedita excepturi doloremque soluta eligendi veniam ullam quae laborum amet dicta incidunt, beatae ea, provident commodi rem vero sunt, ratione voluptates ipsa? Vel consequatur impedit tenetur.
  Nulla eius dolor cum maiores! Beatae repellat nobis soluta nulla excepturi. Cum iusto repellat quasi, modi tempora cumque in necessitatibus delectus dolores itaque facilis, excepturi eos quia ducimus consectetur consequuntur.
  Veniam eligendi accusamus ut magni debitis, doloremque consequuntur magnam ipsum voluptatem nam voluptate fugiat dolore nihil facilis maxime. Consectetur totam ea error officiis necessitatibus deserunt ab accusantium magni quibusdam explicabo.
  Accusantium exercitationem ea vitae officiis reprehenderit iusto voluptates, eaque voluptas eligendi libero explicabo saepe neque. Dolores optio, itaque, maxime, inventore beatae amet expedita facilis ratione totam dolorum nostrum. Aut, exercitationem!
  Corrupti, ratione. Ipsum ut, repellendus dolore nostrum debitis voluptatum reprehenderit obcaecati blanditiis cumque corporis porro deserunt saepe incidunt fuga magnam soluta assumenda mollitia rem, maiores repudiandae unde placeat quisquam suscipit!
  Totam maxime saepe fugiat et cumque culpa architecto delectus molestias sapiente deserunt, velit perspiciatis in nesciunt itaque nostrum eveniet, deleniti dignissimos quos consectetur dolore adipisci hic debitis! Illo, voluptate porro?
  Non voluptates molestias vitae, fugiat nesciunt aspernatur culpa libero autem dolor magnam ea eos illo odit id dolore voluptatum ducimus aliquid alias soluta mollitia nulla? At aliquid nostrum quibusdam ipsa.
  Voluptate, officia tempore iure maxime culpa exercitationem reiciendis dolores vero veritatis corrupti atque a, sapiente molestias molestiae, odit quas. Porro expedita animi eaque ullam minus reiciendis, tempore odit cupiditate quae?
  Odio, magnam eius. Corporis qui quis est ratione aliquid amet expedita totam obcaecati atque exercitationem nesciunt, neque earum nulla animi iure dolorem veniam laboriosam nihil, distinctio veritatis dolorum iusto sit.
  Ut dolorem illum blanditiis rem fugit ad magnam, at similique natus, optio veritatis, maxime quia. Atque mollitia placeat exercitationem id amet magni similique, veniam et alias laboriosam eius sunt dolorem?
  Voluptate excepturi nam adipisci, officiis ullam est dolor eum assumenda consequatur maiores ipsam modi doloremque unde porro optio eius amet nulla totam ducimus aspernatur exercitationem. Corporis accusantium sequi harum? Aperiam.
  Inventore recusandae quam ducimus enim aliquid nisi error nihil nesciunt accusantium asperiores autem nobis vitae fuga nam, dolor debitis eligendi totam, necessitatibus est expedita ipsum! Blanditiis doloremque laborum ad illo.
  Voluptates porro fuga non saepe natus, nihil quos recusandae. Consequuntur quae esse nostrum similique. Cupiditate et, nobis alias nemo assumenda expedita tenetur odit doloremque optio sint. Provident mollitia id libero.
  Debitis, excepturi quas vero inventore veniam ad quo accusamus sapiente quos pariatur, nemo consequuntur quis placeat delectus tempora amet recusandae dolores odit quia, doloremque earum sunt animi autem. Quae, quibusdam.
  Labore architecto asperiores fugit reiciendis aliquam rerum! Voluptate debitis accusantium, cupiditate suscipit aliquid quo doloribus enim ratione iste fugiat eligendi error omnis voluptas repellat reprehenderit illo eaque vel commodi atque.
  Sequi dolorem, voluptate sapiente earum beatae minima autem modi voluptatem quidem qui, commodi eum soluta quia, ducimus reiciendis corrupti aliquid molestias unde maxime illum. Mollitia inventore tempora ducimus unde vitae.
  Eaque, ex iure odit, architecto eligendi molestiae repellat, deserunt quos itaque fuga amet! Excepturi voluptate aliquid quasi possimus odio? Nesciunt cum nam voluptatum officia reiciendis quo reprehenderit aliquam velit ullam.
  Ducimus sed quos sequi accusantium sapiente consectetur nostrum animi dolorem eligendi amet odio et at laboriosam similique aut culpa praesentium molestias iure magni, maiores aperiam ex harum rerum illo. Libero.
  Adipisci aliquid perspiciatis ipsa a blanditiis eum magni iste! Cumque illum expedita itaque consectetur omnis at, illo earum quam. Dolorum distinctio, placeat aperiam obcaecati omnis a ea libero accusantium quasi.
  Rem excepturi asperiores accusamus recusandae sit laborum vero eaque nihil iusto quasi! Aliquam odio expedita nostrum, neque ducimus asperiores doloremque et impedit, consectetur at, veniam officia ab eos rem saepe!
  Vel tenetur quasi accusantium at vero ad exercitationem, qui quos ut dolorem fugit in nesciunt placeat ea, ipsam fugiat tempora asperiores! Pariatur accusamus consequatur qui perferendis quam totam eum neque.
  Aliquam quidem nihil recusandae natus. Reprehenderit ducimus quis nostrum minus a sit laboriosam similique? Delectus, ex similique minima numquam praesentium magnam totam tempora tempore optio repellendus odit recusandae dignissimos ipsa.
  Ipsum veritatis, aspernatur omnis quis inventore accusamus nam. Sit, sint. Ducimus soluta nisi repellat. Eligendi, incidunt illum, soluta ut ipsam sapiente magnam autem itaque ducimus nisi rem placeat! Sit, sapiente.
  Ut doloremque reprehenderit, magni illum enim consectetur, quibusdam, nam odio numquam cum beatae inventore quis eligendi tempore repudiandae architecto? Sit excepturi sunt quam porro, temporibus dolorum autem aut. Libero, eaque!
  Nam repellat laborum officia veniam consequuntur, culpa veritatis dolorem. Doloribus omnis quas fugiat expedita dolor in, perferendis pariatur nostrum dignissimos accusamus. Soluta, quo dolores quas exercitationem vero molestiae nulla nostrum?
  Vero illo necessitatibus qui impedit commodi, officia pariatur, ipsam at repellendus accusamus ea ipsum in amet possimus cum quae porro deserunt optio nesciunt quisquam nemo. Officia quam cupiditate doloribus sed!
  Quos et, voluptatibus inventore quaerat laudantium enim animi fuga cumque. Ad voluptatum optio quaerat tempora pariatur beatae quod ipsa sit, quam aliquam ullam eum. Necessitatibus rerum ratione enim blanditiis commodi.
  Officia debitis dolor laborum eligendi similique recusandae. Quae eveniet, quas, optio nostrum voluptas delectus ratione eaque deleniti reiciendis aliquid repellat aperiam hic exercitationem nemo ducimus ipsam repudiandae omnis voluptatum minima!
  Quo deleniti officia nostrum quia dicta, voluptate autem excepturi quasi illum adipisci optio sunt nam tempora fugit commodi velit tenetur iusto, ut numquam veniam! Aspernatur expedita rerum impedit similique nulla?
  Amet suscipit at quod molestiae inventore, debitis fugit necessitatibus officia quas exercitationem, fuga tempore eius? Assumenda commodi vel itaque rem at! Deserunt iste totam animi laborum reprehenderit facilis est fugit.
  Earum cumque corporis quaerat, porro nisi nam facere eius eligendi odit debitis, omnis itaque, voluptatibus distinctio similique. Sed libero soluta consequuntur, voluptates commodi obcaecati nihil. Aliquid dolorum velit omnis unde.
  Quibusdam optio autem, ad nobis veniam, ducimus magnam temporibus porro aperiam, tenetur iusto. Modi numquam, velit assumenda iste officiis et odio voluptate dolore mollitia ratione magnam odit, aliquam sunt dolores!
  Corrupti, ratione tempora, eius vero quidem voluptates dolore minus inventore aliquam, commodi sapiente suscipit velit sint odit quasi dolorum mollitia vel aliquid laboriosam magnam reiciendis earum distinctio. Excepturi, numquam optio.
  Quis itaque nobis facilis corrupti praesentium, id repudiandae quo nam modi obcaecati. Saepe tenetur impedit, aliquid similique dolore harum ut natus totam dicta quod doloribus ad earum cum, optio tempore.
  Deleniti nostrum impedit consequuntur nam iure corporis quos quia excepturi, tempora, suscipit porro aut ratione blanditiis? Doloremque tempora rerum amet reiciendis eum minima, ipsam natus magni, quidem, recusandae id veritatis?
  Cum quod laudantium iste consectetur incidunt laborum libero obcaecati, reprehenderit doloribus illum sequi culpa porro possimus cumque a aliquam, optio asperiores nisi dicta maiores tenetur aliquid perspiciatis? Omnis, quisquam maiores!
  Optio architecto deserunt vitae rerum quaerat minima blanditiis assumenda sint facere eligendi minus quisquam quia, nisi atque labore nemo reiciendis doloribus. Quam fuga laborum quasi repellat explicabo adipisci assumenda architecto.
  Est beatae laudantium voluptates earum numquam itaque dolorum a tenetur inventore, sit velit deserunt pariatur ullam mollitia perspiciatis obcaecati cum voluptate dolor delectus fuga eum iure amet. Blanditiis, dolores delectus.
  Illo, asperiores modi, fugiat esse qui, sit tempora placeat perspiciatis enim reiciendis facere! Veniam, quibusdam ea tenetur quo, est molestiae animi dolor commodi eligendi, assumenda minus a nemo necessitatibus doloremque.
  Neque veritatis quos tempore debitis laborum. Inventore dolorem velit provident excepturi doloribus repellendus aut molestiae possimus mollitia dicta! Nihil nulla ad quo odio laborum tenetur, ullam tempora incidunt vero! Voluptatibus!
  Neque ipsum in fugiat beatae voluptates nam sed repellendus error, sequi totam, assumenda asperiores delectus aliquam quis vero possimus eaque! Expedita iusto porro accusantium sapiente hic in ducimus facere minus.
  Veniam repellendus placeat obcaecati delectus corporis autem voluptas molestias, maiores illum quas, similique exercitationem sed. Quam laudantium corporis ipsam culpa totam quis eaque, repellat, pariatur magni commodi maiores dolorem suscipit.
  Non reprehenderit qui ratione neque deleniti magni, et numquam, provident similique quia aliquam voluptatum culpa voluptatibus sit ab, ad exercitationem quos rem fugiat corrupti consectetur iure. Blanditiis atque quas illum.
  Quibusdam in minima voluptate asperiores perferendis. Velit, eius? Beatae facilis deserunt error assumenda reprehenderit consequuntur est nemo expedita enim nihil? Ullam ratione maiores magni veritatis. Vitae, repellat quo. Vel, consequuntur.
  Obcaecati nostrum quaerat tempora consequatur ex recusandae fugit nulla debitis maxime! Corrupti similique, necessitatibus sed perferendis sunt nesciunt reprehenderit rerum totam reiciendis repudiandae odit, molestias nostrum adipisci hic aperiam impedit!
  Repellendus reprehenderit aut ratione eius? Atque eaque quis ut expedita fugit tempora est veniam voluptatum magni iusto eveniet fugiat corporis sunt, incidunt repellat cum nulla enim voluptates ratione? Fuga, dolore.
  Adipisci veniam praesentium quia cupiditate pariatur delectus. Quas amet doloribus fugiat enim ipsam pariatur corporis consequuntur vero eum odio, minima sequi voluptatum ullam! Nihil mollitia possimus nam eaque. Amet, distinctio!
  Exercitationem, porro. Laboriosam accusantium eius temporibus ullam quo impedit, nostrum adipisci recusandae velit non nobis amet labore doloremque architecto dignissimos sed placeat blanditiis consequatur sequi numquam laborum omnis? Iure, nisi!
  Corrupti dolorem error temporibus placeat, illum tenetur explicabo provident harum qui tempore voluptas, sint maiores recusandae iure asperiores officia dignissimos minima nam modi quae vel magnam. Quaerat quisquam excepturi aperiam!
  Dicta voluptates ad laudantium, molestias numquam assumenda ex sed veniam a vel, mollitia dignissimos ab laboriosam quidem eveniet sint earum ea quibusdam fugit. Veniam obcaecati nulla ipsum cum, temporibus est.
  Veniam officia tempora, aliquid, incidunt labore doloremque ullam explicabo quae corrupti maiores ab. Nostrum accusamus, nesciunt ipsam optio quam, voluptatem cum fuga sit maiores laborum qui ipsa, dignissimos a dolorum!
  Modi quis earum quo saepe aspernatur error recusandae sed eveniet doloremque nam. Non id, nisi velit debitis modi illum eaque, ad, in suscipit veniam hic harum ipsam facere ullam aut.
  Illo unde quibusdam iste odit magni nam dolores reiciendis veniam omnis neque est, debitis sapiente asperiores. Ullam rem corrupti illum iste, nesciunt nisi, ex cum assumenda iusto quae eum cupiditate.
  Delectus enim a quas quis in nam excepturi? Minus vitae doloribus dolore facilis sint similique nam, numquam architecto neque harum modi dicta ratione nulla qui totam nemo quo magni recusandae.
  Nulla architecto atque illo minima odio, fugiat saepe reprehenderit quaerat voluptates, debitis repellat consectetur distinctio odit a rem sit ullam quisquam quod harum, ut eos iusto? A est sed dolore.
  Sunt, consequuntur sequi recusandae voluptate totam minus explicabo iure. Placeat, magni impedit quibusdam molestiae distinctio esse modi numquam? Incidunt nihil iusto maxime illo assumenda. Eum dignissimos soluta delectus eveniet obcaecati.
  Nam dignissimos iste, voluptatem ut nisi temporibus est dicta! Neque facere voluptates eaque itaque repellendus obcaecati expedita, impedit vitae blanditiis officiis culpa deleniti, illum, libero omnis ipsam animi commodi asperiores?
  Nulla similique suscipit non libero officiis culpa voluptas ratione cum expedita, reprehenderit fugit eveniet quia voluptate sequi. Dolore maiores quia aliquid et autem molestias aspernatur sequi. Perspiciatis minus illum voluptates.
  Odit, numquam. Suscipit culpa voluptas quia, explicabo molestias rerum reprehenderit autem sed ea, minus dignissimos porro fuga quisquam in accusamus, dolorem quo beatae. Soluta quis facilis magni quos, ut esse.
  Aliquid aperiam nobis saepe dolore provident vel excepturi laudantium, magnam, repellat odio asperiores dolor repudiandae est fuga corrupti! Doloremque praesentium consequuntur quo quia voluptatem quisquam! Provident nam pariatur repudiandae est.
  Dolorum aut nemo nulla harum repellendus, assumenda perspiciatis veritatis eos veniam, id alias odio nam vero. Totam in voluptatem aut aliquid ducimus repellat vitae tempora autem nisi ut. Accusamus, veniam.
  Earum sapiente consectetur dolores omnis placeat est recusandae itaque. Fugiat repudiandae necessitatibus, animi quos explicabo et minima earum a dolore rem, obcaecati, dicta modi suscipit est? Autem officiis quo vero!
  Quae, eos nesciunt, autem ducimus fugiat magni incidunt, iusto aut sint reiciendis dolores? Deleniti pariatur, praesentium animi cum fugit vel amet minima nisi libero aperiam harum at tempore rerum asperiores.
  Eaque rerum repellendus quod possimus consequuntur libero facere ad iusto suscipit laudantium aliquam nobis ullam, aut facilis, est cum. Modi nobis laudantium sequi, asperiores maxime aliquam tempora doloremque architecto doloribus!
  Porro at ducimus enim dicta. Recusandae, doloribus aut vel animi molestiae possimus quaerat cumque corporis voluptate consectetur omnis nesciunt quam assumenda corrupti in dolor fugiat? Ex neque vel debitis quam?
  Maxime maiores ipsum doloribus! Possimus asperiores dolorem ad vel exercitationem eveniet alias explicabo ea qui earum necessitatibus aperiam dignissimos voluptatem laudantium ab, consequuntur itaque praesentium sit ut pariatur, vitae eligendi.
  Repellat ipsam tempore sunt corrupti odio assumenda esse fugit maxime eos blanditiis perspiciatis sequi non nostrum, tenetur consequatur labore impedit est saepe temporibus veniam. Tenetur laboriosam accusantium quis tempore beatae.
  Unde totam nesciunt eveniet ipsa atque, odio voluptas. Fugiat accusantium voluptatem deleniti dicta atque quia expedita ut quo exercitationem veritatis neque aut praesentium fuga nobis placeat alias corrupti, natus optio!
  Laudantium est debitis ex saepe velit iste vitae itaque dolore eos voluptas? Ipsam facilis amet hic consequatur doloremque, enim cum architecto voluptatem laudantium natus molestiae nisi, suscipit saepe ea itaque.
  Voluptatem autem nulla quisquam libero. Necessitatibus, asperiores perspiciatis adipisci quae, ut labore dolorem, quis architecto beatae suscipit ratione ullam. Maiores unde soluta explicabo impedit voluptas rerum natus corrupti consequuntur id.
  Quidem aliquid ex neque necessitatibus minima quod libero illo aperiam. Tenetur placeat provident, modi praesentium magnam laudantium a quisquam, accusamus accusantium maiores perspiciatis consectetur quae porro aperiam. Dolorem, cupiditate quia.
  Alias quia exercitationem vel ea, ut, aperiam eaque adipisci, possimus provident esse dolorem! Nisi nesciunt culpa ipsum est temporibus repellendus deserunt suscipit dolores atque voluptate? Facere doloremque culpa quibusdam deleniti.
  Totam similique voluptatem, dolorem vero blanditiis eum, nulla quos necessitatibus unde, quaerat deleniti tenetur vitae? Culpa quis provident commodi harum sed dolorum, omnis molestias vitae, consequatur enim incidunt. Recusandae, minus.
  Ad, quasi illo officiis quas dignissimos consequatur deleniti officia quos ducimus laboriosam pariatur, corporis corrupti? Consequuntur dolorum enim maiores quis. Tempore unde temporibus perspiciatis rem quas voluptatem, voluptatibus ab. Mollitia!
  Amet corrupti eligendi veritatis? Dolor ratione, ad odit non mollitia commodi asperiores nostrum maxime, et sit cumque est quos deleniti quae dignissimos inventore ea voluptates deserunt facere enim minima voluptatum.
  Aspernatur itaque exercitationem impedit! Architecto similique tempore, fugit vero blanditiis, non deleniti, quasi consequuntur repellendus rerum inventore eius molestiae nisi numquam necessitatibus! Molestias magni, nulla esse maxime laboriosam perspiciatis sapiente.
  Veritatis doloribus corrupti harum beatae qui amet error a veniam quas similique consequuntur sapiente nesciunt esse architecto, laboriosam placeat voluptatem ipsa quisquam iure deleniti. Exercitationem modi ipsa alias quos consequatur?
  Nam quam alias beatae, aperiam autem quia fugiat voluptatibus reprehenderit! Excepturi, consectetur eos, vel molestias deleniti assumenda adipisci provident minus explicabo accusamus officia dolor neque, nam voluptatem temporibus deserunt facere?
  Fugiat autem ut delectus natus dolore odio unde rerum consectetur qui corrupti alias, pariatur accusantium quasi suscipit corporis nihil eaque accusamus debitis vel, ad quos hic, quidem inventore similique? Aspernatur.
  Fugit ipsum quod corporis at ab, quia a quas modi eaque accusantium placeat. Dolorum enim tempora, quaerat itaque fugiat fugit laudantium accusantium commodi pariatur? Reprehenderit nemo pariatur dolorum quod delectus?</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore tempora mollitia odit expedita quis, vero, placeat possimus consequatur alias accusamus natus earum minima repudiandae. Rem sint dignissimos odit asperiores aperiam!
  Distinctio repellat doloremque eum id consequuntur vero alias exercitationem nesciunt! Voluptates quasi laborum obcaecati quo quisquam adipisci assumenda accusamus tempore animi perspiciatis illum, accusantium sunt voluptatibus veniam. Aliquid, nihil ex!
  Vero, provident! Facere minima iure blanditiis quas, impedit nihil quia corrupti architecto autem ab. Nisi possimus, quam asperiores veritatis repudiandae voluptatum tenetur necessitatibus pariatur deserunt laborum sit voluptatem numquam culpa!
  Molestiae impedit adipisci cupiditate deserunt nobis officia nemo consequuntur accusantium, consequatur amet magni perferendis obcaecati aspernatur molestias blanditiis eveniet optio doloribus ducimus corporis iste cum odit saepe. Esse, ratione deserunt!
  Accusantium, architecto unde fuga quibusdam aspernatur officiis ducimus enim quas modi. Est autem at deserunt iusto laborum, cum nobis blanditiis sed adipisci. Repudiandae nemo officiis odit ad nobis, ut possimus!
  Nisi dolorum incidunt, praesentium, pariatur quia harum impedit officia amet doloremque sint ad possimus dicta aut veritatis quam qui minus ratione, reprehenderit obcaecati voluptate mollitia nobis explicabo odit. Eligendi, facilis!
  Sequi, nesciunt ipsa praesentium quibusdam veritatis explicabo id et? Impedit provident modi voluptatem voluptate! Earum maiores impedit culpa, sequi corporis at corrupti laborum libero doloremque necessitatibus dolor obcaecati ratione quam.
  Reiciendis ipsum adipisci, quas, repudiandae ipsa quae cupiditate eaque facere totam est suscipit. Quam illum vero voluptatum molestiae rerum alias! Nostrum enim magnam voluptate nam. Aspernatur vel eaque ex aliquam!
  Neque deserunt ratione, consectetur repellendus molestias quibusdam ad inventore ea sit, quas ab recusandae obcaecati minus in ex necessitatibus id quam quaerat iusto nihil. Eligendi libero nihil nam repudiandae quibusdam?
  Laboriosam pariatur quod, ut, velit culpa assumenda praesentium facere ipsum tempore iusto eum, non blanditiis inventore temporibus consectetur impedit! Voluptatibus perferendis porro debitis quae veritatis eveniet necessitatibus. Quis, dolore reprehenderit?
  Aperiam, id ut recusandae nemo cumque repellat explicabo ducimus laborum corrupti! Ab repellat aliquid quisquam quae mollitia, eveniet neque sunt consequatur eaque suscipit possimus similique, facilis veniam, sint id saepe!
  Nulla facere sit veniam consectetur perferendis, itaque fugit laboriosam, maiores aut illum quam nihil repudiandae fugiat ratione, non voluptatibus. Nisi rerum sit distinctio nostrum deserunt eum eius nam ullam neque.
  Rerum id assumenda maxime obcaecati molestias, nemo sunt laboriosam, fugiat iure ipsam expedita in esse labore. Mollitia voluptatem quisquam aliquam hic nihil dolore maiores vel pariatur! Quod repudiandae temporibus necessitatibus.
  Quo deleniti soluta facere maiores sequi quibusdam fugiat earum blanditiis illum ut quisquam aliquam, non beatae incidunt odit a, magni, voluptatum labore perferendis nesciunt quas? Facere assumenda quos vero ad!
  Quaerat ut tempore fugiat dicta porro aut maxime quidem est. Consequuntur corrupti distinctio dolore quibusdam cumque temporibus nemo voluptatem nulla fugiat dicta, eveniet quos, fuga mollitia aspernatur. Quasi, ad odit?
  Tempora, aspernatur. Excepturi atque officia velit. Sint officiis aut rerum nesciunt, illum, reprehenderit quod ipsam vel ad magnam iste corrupti modi rem explicabo nobis, optio sequi eos. Enim, facere earum?
  Laudantium quas aspernatur a illo quod unde omnis impedit soluta maxime similique, odio iusto at obcaecati quibusdam? Libero deserunt at repellat amet, voluptates dolores facere vitae nam possimus modi placeat!
  Sunt, inventore odio? Iure, ea! Aperiam eius quis quas necessitatibus, dicta veniam inventore deserunt sint beatae ipsam autem nisi. Cum sunt a adipisci pariatur asperiores eius tempora est aperiam nostrum.
  Distinctio, fugit, officiis cupiditate eum expedita dolor libero nesciunt veniam quaerat impedit consectetur iusto autem qui commodi optio ipsam fuga illo voluptatum. Reprehenderit praesentium expedita quasi et corporis aliquam corrupti.
  Atque, earum porro. Adipisci placeat maiores autem soluta totam nihil modi aperiam aliquid cumque minima aut omnis asperiores facere vero ab dicta obcaecati, repellat deleniti libero maxime ea earum minus?
  Dignissimos sint, fugit explicabo incidunt repellendus perspiciatis consectetur quasi impedit ratione exercitationem voluptas debitis reprehenderit, harum, aliquam sapiente! Magni id nobis, laudantium nemo eius impedit ea omnis reprehenderit dolore tenetur.
  Non vitae dolores veritatis placeat voluptatibus ab fuga quisquam! Quam repellendus odio expedita autem, esse asperiores corporis. A veniam, id minus adipisci totam odio, perferendis nam rerum recusandae, magni dolorem.
  Repudiandae assumenda ad vitae rem pariatur esse minus reiciendis velit voluptas tenetur tempora error corporis accusantium quam, porro repellat expedita praesentium veniam hic, qui laudantium suscipit nobis eveniet quas. Voluptas.
  Rerum repellat corporis rem. Dolor fuga quis adipisci molestias voluptate facere natus alias vel quas expedita, autem commodi nobis tenetur deserunt, maiores impedit id nihil nisi dolorum minima obcaecati fugiat?
  Vero recusandae et, corrupti maxime quod fugiat aliquam at corporis accusantium vel, dolorem nostrum, reiciendis voluptas eum voluptatum amet reprehenderit enim totam dolor mollitia. Ratione architecto accusantium omnis cupiditate aut?
  Nobis, beatae debitis maxime a rem quaerat repellendus deserunt sint quis architecto ad voluptates nisi reprehenderit incidunt saepe accusamus adipisci aliquam non ducimus illo odit earum. Ipsam assumenda facilis quos!
  Incidunt placeat quis sapiente ab minima cum ex necessitatibus, doloremque ratione itaque quos magnam illo assumenda ut, neque natus libero dolor inventore? Officia, eos voluptas facilis consequatur eveniet labore ullam.
  Fugit natus fugiat numquam rerum iusto laudantium quasi, eum consequatur laborum accusamus quas recusandae, accusantium quaerat animi quos cupiditate. Labore totam nihil numquam, ut quos veniam natus repudiandae illo esse.
  Quisquam itaque odio illum, repellat at a voluptates laudantium deleniti qui quas dolorem, praesentium necessitatibus. Neque dolores adipisci itaque aperiam voluptates, ratione veniam blanditiis eius exercitationem eligendi, nam voluptatem iure.
  Nemo exercitationem et eveniet. Deleniti, excepturi provident fuga dolore exercitationem soluta praesentium tempora amet ratione ullam, tempore labore et dolorem. Odit minima sunt labore eveniet laudantium dignissimos nisi! Sit, consequuntur.
  Voluptatem, officia vel, incidunt placeat, amet consectetur soluta dolores omnis cupiditate hic tempora corporis quas. Soluta tempora optio placeat, corrupti culpa quisquam veritatis nam ea facere numquam, asperiores suscipit? Quo.
  Laudantium tenetur porro enim dolorem! Praesentium fugiat odio veritatis animi dolorum labore sit explicabo, tempora quisquam excepturi rem voluptatem fuga quod corrupti, dolore a? Ullam obcaecati ipsa fugiat esse nam!
  Sed natus eum minima assumenda sit quisquam vero, laborum nesciunt vel, dolorum, magni illum provident ducimus obcaecati. Repellendus, eveniet deserunt, deleniti, velit omnis minus nisi eligendi ex excepturi magnam nobis?
  Nam, porro reiciendis! Beatae, cum aliquid? Rem, molestias. Hic voluptate, qui debitis, ducimus illum, odio labore saepe culpa tenetur iste quam repellat iusto numquam adipisci illo rem! Tenetur, ea quibusdam.
  Cupiditate voluptate, qui velit ipsum harum delectus, sequi ut vel quam repellendus nam excepturi aut at, fugit magni. Perferendis ducimus eum minima numquam repudiandae unde odit voluptate nemo repellendus deleniti!
  Voluptate laboriosam quasi modi, libero, quisquam officiis nihil numquam blanditiis explicabo, aspernatur fugiat fugit voluptatem voluptatum omnis! Ratione error, voluptas deserunt et provident eligendi totam, sequi labore illo sapiente sit!
  Fuga culpa, explicabo hic mollitia magnam sunt voluptate ipsum voluptas natus ex quia, quod ab fugiat exercitationem provident maxime dolorem aliquid corporis excepturi ad. Esse quo ex praesentium nulla quod?
  Distinctio, saepe? Deserunt eius sunt fugiat ad libero aut laboriosam, minima sapiente provident exercitationem distinctio deleniti! Dolorum placeat eligendi fugit ipsum, quae animi tempora explicabo veritatis autem cupiditate, voluptatem quia!
  Quisquam mollitia suscipit, culpa voluptatem ipsam iure doloremque repellendus fugiat sapiente natus accusantium explicabo, similique eveniet veritatis assumenda impedit. Aliquid necessitatibus labore corrupti maxime fugit fugiat maiores accusamus esse ad!
  Sapiente voluptatem voluptate nulla illo non? Deserunt aliquid praesentium expedita ea ex animi consectetur aspernatur ratione eaque, inventore ipsum fuga quos earum eum minus, dolorum explicabo deleniti fugiat sit asperiores.
  Accusamus vitae voluptate voluptates dolorum vel illum nostrum similique aliquid. Ullam magnam autem veritatis voluptatem atque sequi. Nesciunt ad autem architecto optio iste, nam ex qui voluptas exercitationem dolore incidunt?
  Temporibus, quos optio qui et iste autem, sed quia explicabo libero esse animi ad hic nemo atque consequatur asperiores, obcaecati fugit. Ea, iure eaque quod enim voluptatibus ad deleniti dolorem.
  Fugiat maxime officiis temporibus, veritatis ab non quis, ad quam necessitatibus omnis dignissimos? Doloremque nihil harum unde quos ipsa odit, placeat ratione perspiciatis impedit labore voluptatum velit quisquam tempore veniam.
  Tempore aperiam incidunt, temporibus impedit eveniet laudantium quibusdam accusantium, distinctio assumenda, iure est amet? Cumque, eveniet corporis! Nam, pariatur necessitatibus! Reiciendis beatae laborum corporis repudiandae recusandae maiores repellendus! Mollitia, qui?
  Atque, necessitatibus eligendi quaerat harum consectetur facere nostrum saepe dolor modi laborum hic natus debitis error est facilis magni veritatis porro qui animi. Possimus quos consectetur repudiandae maiores sequi omnis.
  Quod, nam a ipsa earum veritatis eum voluptates. Ab minima voluptatibus facere dolor esse. Repellendus asperiores reprehenderit ad, odit illum doloremque modi fuga reiciendis numquam ea, sit id aliquam hic!
  Quo deserunt, et voluptas repellat autem, facere iure, quia veniam dolor exercitationem ab molestias ex quam corporis optio. Voluptatum non qui sapiente repellendus totam incidunt rerum mollitia dolor voluptatibus quibusdam?
  Sed sit odit doloribus iusto commodi neque ratione quae ad laudantium earum dolores, quibusdam porro minus aperiam corrupti fugit dicta dolorum repellat adipisci rem nihil, magni quo placeat? Blanditiis, eligendi!
  Assumenda omnis cumque laboriosam aliquam, sint eius soluta corporis voluptate incidunt, aperiam, eveniet id commodi labore modi praesentium architecto quas nihil! Alias, quod! Veniam a voluptatum veritatis repellendus autem sed!
  Nulla voluptatibus odio in, accusamus dolore vero rem. Deleniti dolorem quidem omnis ullam quos similique esse atque voluptatum reiciendis itaque, id commodi magnam reprehenderit doloremque adipisci iusto quisquam sapiente eius.</div>
</div>

  <div class="referral text-center">
    <h2>Refer a friend and enter our sweepstakes to win a brand new John Deere</h2>
  </div>
