<%= render 'shared/navproduct' %>

<div class="container" id="top">
  <div class="row" style="margin-top: 100px;">
    <div class="product">
    <h1>Rent this <%= @machine.make%> <%=@machine.category%></h1>
      <div class="col-xs-12 col-md-8" style="margin-bottom: 50px;">
        <div class="img">
          <%= cl_image_tag @machine.photo, width: 600, crop: 'scale' %>
        </div>
        <div class="spec">
          <div class="user">
            <%= cl_image_tag @machine.user.photo, width: 100, radius:"max", crop:"thumb" %>
          </div>

          <div class="infos">
            <div class="user-infos">
            <!-- If my machine -->
            <% if !current_user.nil? && (@machine.user_id == current_user.id) %>
              <h4>My <%= @machine.category %></h4>
              <div class="profile-btn">
                <%= link_to 'Edit', edit_machine_path(@machine), class: "btn btn-primary btn-product"  %>
                <%= link_to 'Delete', machine_path(@machine), id: 'delete', class: "btn btn-primary btn-product", :method => :delete %>
              </div>
            <!-- If not my machine -->
            <% else %>
              <h4><%= @machine.user.name %>'s <%= @machine.category %></h4>
            <!-- If not my machine -->
            <% end %>
            </div>
            <div class="machine-infos">
                <div class="make">
                  <p>Make:</p>
                  <p><%= @machine.make %></p>
                </div>
                <div class="category">
                  <p>Category:</p>
                  <p><%= @machine.category %></p>
                </div>
                <div class="category">
                  <p>Engine power:</p>
                  <p><%= @machine.force_moteur %></p>
                </div>
                <div class="category">
                  <p>Driven wheels:</p>
                  <p><%= @machine.roues_motrices %></p>
                </div>
            </div>
          </div>
        </div>
        <hr>
        <div id="desc" style="padding-top:30px">
          <h2><card>Description</card></h2>
          <p style="margin:0px"><%= @machine.description %></p>
        </div>
        <div id="mapp" style="padding-top:30px">
          <h2><card>Location</card></h2>
          <div
              id="map"
              style="width: 100%;
              height: 600px;"
              data-markers="<%= @markers.to_json %>"
            ></div>
        </div>
        <div id="reviews" style="padding-top:30px">
          <h2><card>Reviews</card></h2>
          <table width="100%" border="0">
                <div class="col-md-9 col-md-offset-0">
                  <tr><td width="77%">
                  <div class="">
                    <form class="form-horizontal" action="send.php" method="post">
                    <fieldset>

                      <!-- Name input-->
                      <div class="form-group">
                        <label class="col-md-3 control-label" for="name">Full Name</label>
                        <div class="col-md-9">
                          <input id="name" name="name" type="text" placeholder="Your name" class="form-control" style="font-size: 18px;">
                        </div>
                      </div>

                      <!-- Email input-->
                      <div class="form-group">
                        <label class="col-md-3 control-label" for="email">Your E-mail</label>
                        <div class="col-md-9">
                          <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
                        </div>
                      </div>

                      <!-- Message body -->
                      <div class="form-group">
                        <label class="col-md-3 control-label" for="message">Your message</label>
                        <div class="col-md-9">
                          <textarea class="form-control" id="message" name="message" placeholder="Please enter your feedback here..." rows="5"></textarea>
                        </div>
                      </div>


                      <!-- Rating -->
                      <div class="form-group">
                        <label class="col-md-3 control-label" for="message">Your rating</label>
                        <div class="col-md-9">
                          <input id="input-21e" value="0" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" >
                        </div>
                      </div>
              </td>
              <td align="center" valign="top" width="23%">
                      <!-- Form actions -->
                      <div class="form-group">
                        <div class="col-md-12 text-center">
                          <!-- <img src="http://www.gohacking.com/wp-content/uploads/2010/06/captcha-300x171.jpg" height="140px" width="270px"/><br/> -->
                          <button type="submit" class="btn btn-primary btn-md">Submit</button>
                          <button type="reset" class="btn btn-default btn-md">Clear</button>
                        </div>
                      </div>
                    </fieldset>
                    </form>
                  </div>
              </div>
              </td>
              </tr>
              </table>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="right-col">
          <div class="tophead">
            <div class="price-show">$<%= @machine.price_per_hour %></div>
            <div class="hours"><%= @machine.min_hours %></div>
          </div>
          <!-- test calendar -->
          <div class="box-rent">
            <%= simple_form_for [@machine, @booking] do |f| %>
              <div class="datepicker">
                <%= f.input :duration, label: 'When', as: :string, input_html: { class: 'flatpickr', placeholder: 'Start date -> End date' } %>
              </div>
              <%= f.submit 'Rent me', class: 'btn btn-primary btn-product' %>
            <% end %>

          </div>
          <!-- calendar -->
          <div class="insurance">
            <div class="first_row">
              <div class="logo">
                <img src="https://vignette.wikia.nocookie.net/random-ness/images/7/74/Geico-logo-with-gecko.jpg/revision/latest?cb=20110725191058" alt="insurance geico' " class="img-responsive" width="70">
              </div>
              <div class="insurance_text">
                <p><strong>Included</strong></p>
                <p>
                  24-hour vehicle insurance and assistance in the event of an accident or breakdown.
                </p>
              </div>
            </div>
            <hr>
            <div class="first_row">
              <div class="logo">
                <%= image_tag "exchange.svg", height: 60 %>
              </div>
              <div class="insurance_text">
                <p>
                  Included at no extra charge: international travel, theft, bodily injury and second driver coverage.
                </p>
              </div>
            </div>
            <hr>
            <div class="first_row">
              <div class="logo">
                <%= image_tag "insurance_icon.svg", height: 60 %>
              </div>
              <div class="insurance_text">
                <p>
                  The insurance covers civil liability, damage to the vehicle, fire and theft.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

