<%= render 'shared/navproduct' %>
<div class="container" id="top">
  <div class="row" style="margin-top: 100px;">
    <div class="product">
      <div class="col-xs-12 col-md-8" style="margin-bottom: 50px;">
        <div class="img">
          <%= cl_image_tag @machine.photo, width: 600, crop: 'scale' %>
        </div>
        <div class="spec">
          <div class="make">
            <p>Make:</p>
            <p><%= @machine.make %></p>
          </div>
          <div class="category">
            <p>Category:</p>
            <p><%= @machine.category %></p>
          </div>
          <div class="category">
            <p>Category:</p>
            <p><%= @machine.category %></p>
          </div>
          <div class="category">
            <p>Category:</p>
            <p><%= @machine.category %></p>
          </div>
        </div>
        <div id="desc" style="padding-top:30px">
          <h2>Description</h2>
          <p style="margin:0px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam explicabo magni nam tenetur sapiente similique voluptatem nobis nisi laboriosam. Perferendis vero, totam doloremque omnis ut blanditiis mollitia obcaecati ab esse.</p>
          <p style="margin:0px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nam, quidem alias iusto pariatur eius inventore, quae ipsa, placeat labore optio sit incidunt magni quod, fugit quas. Aliquam, similique saepe?</p>
        </div>
        <div id="mapp" style="padding-top:30px">
          <h2>Location</h2>
          <div
              id="map"
              style="width: 100%;
              height: 600px;"
              data-markers="<%= @markers.to_json %>"
            ></div>
        </div>
        <div id="reviews" style="padding-top:30px">
          <h2>Reviews</h2>
          <p style="margin:0px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam explicabo magni nam tenetur sapiente similique voluptatem nobis nisi laboriosam. Perferendis vero, totam doloremque omnis ut blanditiis mollitia obcaecati ab esse.</p>
          <p style="margin:0px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nam, quidem alias iusto pariatur eius inventore, quae ipsa, placeat labore optio sit incidunt magni quod, fugit quas. Aliquam, similique saepe?</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="right-col">
          <div class="tophead">
            <div class="price">$<%= @machine.price_per_hour %></div>
            <div class="days">3 jours minimum</div>
          </div>
          <!-- test calendar -->
          <div class="box-rent">
            <%= simple_form_for (@booking) do |f| %>
              <div class="datepicker">
                <%= f.input :duration, label: 'When', as: :string, input_html: { class: 'flatpickr', placeholder: 'Start date -> End date' } %>
              </div>
              <%= f.submit 'Rent me', class: 'btn btn-primary btn-product' %>
            <% end %>

          </div>
          <!-- calendar -->
          <div class="insurance">
            <div class="first_row">
              <div class="logo">
                <img src="https://vignette.wikia.nocookie.net/random-ness/images/7/74/Geico-logo-with-gecko.jpg/revision/latest?cb=20110725191058" alt="insurance geico' " class="img-responsive" width="70">
              </div>
              <div class="insurance_text">
                <p><strong>Included</strong></p>
                <p>
                  24-hour vehicle insurance and assistance in the event of an accident or breakdown.
                </p>
              </div>
            </div>
            <hr>
            <div class="first_row">
              <div class="logo">
                <%= image_tag "exchange.svg", height: 60 %>
              </div>
              <div class="insurance_text">
                <p>
                  Included at no extra charge: international travel, theft, bodily injury and second driver coverage.
                </p>
              </div>
            </div>
            <hr>
            <div class="first_row">
              <div class="logo">
                <%= image_tag "insurance_icon.svg", height: 60 %>
              </div>
              <div class="insurance_text">
                <p>
                  The insurance covers civil liability, damage to the vehicle, fire and theft.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

