<!DOCTYPE html>
<!--
       ___         ___           ___           ___
      /  /\       /  /\         /  /\         /__/\          ___
     /  /:/_     /  /::\       /  /::\       |  |::\        /__/|  we're hiring!
    /  /:/ /\   /  /:/\:\     /  /:/\:\      |  |:|:\      |  |:|  https://farmydable.herokuapp.com/jobs
   /  /:/ /:/  /  /:/~/::\   /  /:/~/:/    __|__|:|\:\     |  |:|
  /__/:/ /:/  /__/:/ /:/\:\ /__/:/ /:/___ /__/::::| \:\  __|__|:|  Designed and coded at Le Wagon <3
  \  \:\/:/   \  \:\/:/__\/ \  \:\/:::::/ \  \:\~~\__\/ /__/::::\
   \  \::/     \  \::/       \  \::/~~~~   \  \:\          ~\~~\:\
    \  \:\      \  \:\        \  \:\        \  \:\           \  \:\
     \  \:\      \  \:\        \  \:\        \  \:\           \__\/
      \__\/       \__\/         \__\/         \__\/
-->
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>Farmy - Find your Famydable machine</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.1/dist/instantsearch.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.1/dist/instantsearch-theme-algolia.min.css">
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= render 'shared/search' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_API_FRONT"]}&libraries=places" %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag "map" %>
  </body>
</html>
