<!DOCTYPE html>
<!--
       ___         ___           ___           ___
      /  /\       /  /\         /  /\         /__/\          ___
     /  /:/_     /  /::\       /  /::\       |  |::\        /__/|  we're hiring!
    /  /:/ /\   /  /:/\:\     /  /:/\:\      |  |:|:\      |  |:|  https://farmydable.herokuapp.com/jobs
   /  /:/ /:/  /  /:/~/::\   /  /:/~/:/    __|__|:|\:\     |  |:|
  /__/:/ /:/  /__/:/ /:/\:\ /__/:/ /:/___ /__/::::| \:\  __|__|:|  Designed and coded at Le Wagon <3
  \  \:\/:/   \  \:\/:/__\/ \  \:\/:::::/ \  \:\~~\__\/ /__/::::\
   \  \::/     \  \::/       \  \::/~~~~   \  \:\          ~\~~\:\
    \  \:\      \  \:\        \  \:\        \  \:\           \  \:\
     \  \:\      \  \:\        \  \:\        \  \:\           \__\/
      \__\/       \__\/         \__\/         \__\/
-->
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>Farmy - Find your Famydable machine</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.1/dist/instantsearch.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.1/dist/instantsearch-theme-algolia.min.css">
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <script type="text/html" id="hit-template">
      <div id="container-search" class="col-xs-12 col-sm-6 col-md-6">
        <a href="/machines/{{id}}">
        <div class="full-card">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('{{photo.url}}');"></div>
          <div class="card-infos">
            <div class="card-category">
              <div class="machine-type" style="display: block;">
                <h2 style="font-size: 20px;margin-bottom: 0;"><card>{{category}}</card></h2>{{make}}
              </div>
              <div class="price" style="margin-right: 10px;">
                ${{price_per_hour}}
              </div>
            </div>
            <div class="card-description">
              <p>{{location}}</p>
            </div>
          </div>
        </div>
        </a>
      </div>
    </script>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_API_FRONT"]}&libraries=places" %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag "map" %>
  </body>
</html>
